.btn {
  color: white;
  background-color: #66d2cf;
  border: 1px solid #66d2cf;
  border-radius: 5px;
  padding: 15px 30px;
}

.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;

}

.block {
  width: 100%;
  margin-top: 34px;
  padding:100px 0 0 66px ;
  background-color: grey;
  padding-bottom: 100px;

  h1 {
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: white;
  }
  p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;
    margin-top: 32px;
    margin-bottom: 71px;
  }
}
@media screen and (max-width:768px) {
  
  h1{
    font-size: 48px;
    line-height: 48px;
  }
p{  font-size: 15px;
  line-height: 25px;
}
}
@media screen and (max-width:375px) {
  .block {
    width: 100%;
    margin-top: 34px;
    padding:40px 25px 0 25px ;
    background-color: grey;
    padding-bottom: 100px;
    .btn{
      margin-left: 55px;
    }
  h1{
    font-weight: 900;
font-size: 40px;
line-height: 40px;
text-align: center;

  }
 p{
  text-align: left;
 }
}
}